body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#clickpane {
    pointer-events: none;
    color: rgba(146, 3, 3, 0.65);
    background: rgba(0,0,0, .2);
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 50px;
    line-height: 5;
	text-align: center;
    z-index: 100000;
}

#buildings{
    -webkit-appearance: auto;
    margin-bottom: 10px;
}

#fab{
    position: fixed;
    background: #800000;
    color: white;
    bottom: 30px;
    right: 20px;
    z-index: 1;
    filter: drop-shadow(2px 2px 4px black);
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#roseLogo {
    max-width: 320px;
    margin: 20px auto;
    display: block;
}

.btn-color{
    color: #800000;
}

#drop-down{
    position: fixed;
    bottom: 30px;
    left: 20px;
    width: 280px;
    color: white;
    background-color: #800000;
    z-index: 1;
    filter: drop-shadow(2px 2px 4px black);
}

@media only screen and (max-width: 576px) {
    #search-bar {
      left: 0px;
      width: 100vw;
    }
  }


.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header{
    background-color: #800000;
}

.bmd-layout-drawer>header>a{
    color: white;
}

#title>a{
    padding: 0 10px;
}

#menuMyAnnotations,
#menuPublicAnnotations,
#menuSignOut {
    font-size: 9pt;
}

#dw-s2{
    background-color: #DDDDDD;
    z-index: 1000; /*overkill*/
}

#map-viewport{
    position: absolute;
    touch-action: none;
}

#MainMap{
    width: 100%;
    height: 100%;
}

#MiniMap{
    width: 200px;
    height: 200px;
    opacity: .5;
    margin: 10px;
}

#MiniMap:hover{
    opacity: 1;
}

.card{
    margin: 10px 0;
}

.card-info{
    margin: 20px 30px;
}

.card-buttons{
    margin: 36px 26px;
}

.card-btn{
    margin: 10px;
    background-color: #EEEEEE;
    color: black;
}